*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.DS_Store
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-selander-ace-coap-est-oscore.xml
draft-selander-ace-eals.md
issues.json
lib
package-lock.json
report.xml
venv/
!requirements.txt
